<div class="page">

  <div class="view-selector">
    <mat-form-field appearance="outline">
      <mat-label>Area</mat-label>
      <mat-select [(value)]="selectedArea" disableRipple>
        <mat-option *ngFor="let area of areaOptions" [value]="area">{{area}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="content">
    <app-add-car id="add-car" *ngIf="selectedArea === 'Add'" (reviewFreshCar)="findFreshCar($event)"></app-add-car>
    <app-car-registry id="car-registry" *ngIf="selectedArea === 'Registry'" [startingFilter]="startingFilter" (changeArea)="changeArea($event)"></app-car-registry>
  </div>

</div>
